# Soccer Analytics -  Predicting Soccer Match Results to Improve Chances of Winning Bets

### Inorder to prepare the final dataset for prediction, we brainstormed and finalized on creating our dataset in the following manner:
- Consider previous three seasons of data - last two season as training data and current season for the test.
- A weighted average of previous two season team related metrics with more weightage on the recent season. For example if Chelsea has played in 2017 season then its teamwise metrics were weighted average of their performance in 2015 and 2016 season with more weightage given to 2016 and likewise for next seasons.
- Last Year and Last to Last Year fields were derived from ingame match stats for the current season.
- Specially Engineered Variables:
 - __Finish Flag of Previous Year__ - Based on whether the team played in Champions League, FA Cup or Europa League.
 - __Key Players__ - 30 Top Players per each season were identified and grouped accordingly.

#### 1. Get Team ID appended to the match data and Transform fields to respective datatypes

In [1]:
import numpy as np
import pandas as pd

In [3]:
path ='C:\\Users\\Sandy\\Documents\\Python\\SoccerProject\\Team_match_data\\'
match1=pd.read_csv(path+'soccer_data_1415.csv')
match2=pd.read_csv(path+'soccer_data_1516.csv')
match3=pd.read_csv(path+'soccer_data_1617.csv')
match4=pd.read_csv(path+'soccer_data_1718.csv')
match5=pd.read_csv(path+'soccer_data_1819.csv')
match_df=pd.concat([match1,match2,match3,match4,match5])

In [18]:
path='C:\\Users\\Sandy\\Documents\\Python\\SoccerProject\\EDA_Dataset\\'

In [19]:
understats_df=pd.read_csv(path+'Understat_dimensions_output.csv')
print(match_df.shape)
print(understats_df.shape)

(1781, 25)
(100, 235)

In [166]:
understats_df.fillna(0,inplace=True)

In [21]:
teamdim=pd.read_csv(path+'teamdimension.csv')

In [25]:
match_df.drop(columns={'Unnamed: 0'},inplace=True)

In [56]:
len(matchawayteamid)

1781

Get Team ID appended

In [57]:
teamname=[]
teamid=list(teamdim.id.unique())
teamname=list(teamdim['team'].unique())
matchhometeamid=[]
matchawayteamid=[]
for i in range(0,match_df.shape[0]):
    for j in range(0,len(teamid)):
        if (match_df['Hteam'].iloc[i]==teamname[j]):
            matchhometeamid.append(teamid[j])
        if (match_df['Ateam'].iloc[i]==teamname[j]):
            matchawayteamid.append(teamid[j])
match_df['Hteam_id']=matchhometeamid
match_df['Ateam_id']=matchawayteamid

In [61]:
match_df.isna().any()

Hteam          False
Hchance        False
Hgoals         False
HxG            False
Hshots         False
Hshotstrgt     False
Hdeep          False
Hppda          False
Hxpts          False
Ateam          False
Achance        False
Agoals         False
AxG            False
Ashots         False
Ashotstrgt     False
Adeep          False
Appda          False
Axpts          False
Dchance        False
FTR            False
Season         False
League         False
Description    False
MatchDate      False
Hteam_id       False
Ateam_id       False
dtype: bool

In [65]:
match_df=match_df[['Season','League', 'Description', 'MatchDate', 'Hteam_id', 'Hteam', 'Hchance', 'Hgoals', 'HxG', 'Hshots', 'Hshotstrgt', 'Hdeep',
       'Hppda', 'Hxpts', 'Ateam_id','Ateam', 'Achance', 'Agoals', 'AxG', 'Ashots',
       'Ashotstrgt', 'Adeep', 'Appda', 'Axpts', 'Dchance', 'FTR']]

In [66]:
match_df.to_csv('C:\\Users\\Sandy\\Documents\\Python\\SoccerProject\\EDA_Dataset\\team_match_stats_v3.csv')

In [67]:
match_df.Hteam.unique()

array(['Manchester United', 'Leicester', 'Queens Park Rangers', 'Stoke',
       'West Bromwich Albion', 'West Ham', 'Arsenal', 'Liverpool',
       'Newcastle United', 'Burnley', 'Aston Villa', 'Chelsea',
       'Crystal Palace', 'Southampton', 'Swansea', 'Everton', 'Hull',
       'Tottenham', 'Sunderland', 'Manchester City', 'Bournemouth',
       'Norwich', 'Watford', 'Middlesbrough', 'Brighton', 'Huddersfield',
       'Fulham', 'Wolverhampton Wanderers', 'Cardiff'], dtype=object)

In [68]:
understats_df.columns

Index(['team', 'season', 'team_id', 'Goal diff +1_shotsF',
       'Goal diff +1_goalsF', 'Goal diff +1_xGF', 'Goal diff +1_shotsA',
       'Goal diff +1_goalsA', 'Goal diff +1_xGA', 'Goal diff +1_xGD',
       ...
       '61-75_xGA/Sh', '76+_shotsF', '76+_goalsF', '76+_xGF', '76+_shotsA',
       '76+_goalsA', '76+_xGA', '76+_xGD', '76+_xGF/Sh', '76+_xGA/Sh'],
      dtype='object', length=235)

In [69]:
match_df.head(5)

,Season,League,Description,MatchDate,Hteam_id,Hteam,Hchance,Hgoals,HxG,Hshots,...,Achance,Agoals,AxG,Ashots,Ashotstrgt,Adeep,Appda,Axpts,Dchance,FTR
0,2014/2015,EPL,Manchester United 1 - 2 Swansea (August 16 2014),August 16 2014),89,Manchester United,65%,1,1.17,14,...,7%,2,0.28,5,4,2,17.95,0.48,28%,Swansea
1,2014/2015,EPL,Leicester 2 - 2 Everton (August 16 2014),August 16 2014),75,Leicester,55%,2,1.28,11,...,16%,2,0.61,13,3,15,11.69,0.76,29%,Draw
2,2014/2015,EPL,Queens Park Rangers 0 - 1 Hull (August 16 2014),August 16 2014),202,Queens Park Rangers,59%,0,1.90,19,...,17%,1,1.12,11,4,5,10.29,0.74,24%,Hull
3,2014/2015,EPL,Stoke 0 - 1 Aston Villa (August 16 2014),August 16 2014),85,Stoke,15%,0,0.42,12,...,49%,1,0.91,7,1,4,14.04,1.83,36%,Aston Villa
4,2014/2015,EPL,West Bromwich Albion 2 - 2 Sunderland (August ...,August 16 2014),76,West Bromwich Albion,59%,2,1.68,10,...,14%,2,0.99,7,2,3,13.69,0.70,27%,Draw

In [70]:
match_df.columns

Index(['Season', 'League', 'Description', 'MatchDate', 'Hteam_id', 'Hteam',
       'Hchance', 'Hgoals', 'HxG', 'Hshots', 'Hshotstrgt', 'Hdeep', 'Hppda',
       'Hxpts', 'Ateam_id', 'Ateam', 'Achance', 'Agoals', 'AxG', 'Ashots',
       'Ashotstrgt', 'Adeep', 'Appda', 'Axpts', 'Dchance', 'FTR'],
      dtype='object')

Convert MatchDate to a Date Field

In [74]:
match_df['MatchDate_Actual']=match_df['MatchDate'].apply(lambda x: str.replace(x,')',''))

In [75]:
match_df.head(5)

,Season,League,Description,MatchDate,Hteam_id,Hteam,Hchance,Hgoals,HxG,Hshots,...,Agoals,AxG,Ashots,Ashotstrgt,Adeep,Appda,Axpts,Dchance,FTR,MatchDate_Actual
0,2014/2015,EPL,Manchester United 1 - 2 Swansea (August 16 2014),August 16 2014),89,Manchester United,65%,1,1.17,14,...,2,0.28,5,4,2,17.95,0.48,28%,Swansea,August 16 2014
1,2014/2015,EPL,Leicester 2 - 2 Everton (August 16 2014),August 16 2014),75,Leicester,55%,2,1.28,11,...,2,0.61,13,3,15,11.69,0.76,29%,Draw,August 16 2014
2,2014/2015,EPL,Queens Park Rangers 0 - 1 Hull (August 16 2014),August 16 2014),202,Queens Park Rangers,59%,0,1.90,19,...,1,1.12,11,4,5,10.29,0.74,24%,Hull,August 16 2014
3,2014/2015,EPL,Stoke 0 - 1 Aston Villa (August 16 2014),August 16 2014),85,Stoke,15%,0,0.42,12,...,1,0.91,7,1,4,14.04,1.83,36%,Aston Villa,August 16 2014
4,2014/2015,EPL,West Bromwich Albion 2 - 2 Sunderland (August ...,August 16 2014),76,West Bromwich Albion,59%,2,1.68,10,...,2,0.99,7,2,3,13.69,0.70,27%,Draw,August 16 2014

In [76]:
match_df['MatchDate_Number']=pd.to_datetime(match_df['MatchDate_Actual'],format='%B %d %Y',errors='raise')

In [77]:
match_df.head(5)

,Season,League,Description,MatchDate,Hteam_id,Hteam,Hchance,Hgoals,HxG,Hshots,...,AxG,Ashots,Ashotstrgt,Adeep,Appda,Axpts,Dchance,FTR,MatchDate_Actual,MatchDate_Number
0,2014/2015,EPL,Manchester United 1 - 2 Swansea (August 16 2014),August 16 2014),89,Manchester United,65%,1,1.17,14,...,0.28,5,4,2,17.95,0.48,28%,Swansea,August 16 2014,2014-08-16
1,2014/2015,EPL,Leicester 2 - 2 Everton (August 16 2014),August 16 2014),75,Leicester,55%,2,1.28,11,...,0.61,13,3,15,11.69,0.76,29%,Draw,August 16 2014,2014-08-16
2,2014/2015,EPL,Queens Park Rangers 0 - 1 Hull (August 16 2014),August 16 2014),202,Queens Park Rangers,59%,0,1.90,19,...,1.12,11,4,5,10.29,0.74,24%,Hull,August 16 2014,2014-08-16
3,2014/2015,EPL,Stoke 0 - 1 Aston Villa (August 16 2014),August 16 2014),85,Stoke,15%,0,0.42,12,...,0.91,7,1,4,14.04,1.83,36%,Aston Villa,August 16 2014,2014-08-16
4,2014/2015,EPL,West Bromwich Albion 2 - 2 Sunderland (August ...,August 16 2014),76,West Bromwich Albion,59%,2,1.68,10,...,0.99,7,2,3,13.69,0.70,27%,Draw,August 16 2014,2014-08-16

In [78]:
match_df['Year']=match_df['MatchDate_Number'].apply(lambda x: x.year)

Transform the Season field to desired format

In [79]:
l = match_df.Season.unique()

In [81]:
match_df.loc[match_df.Season==' 2014/2015 ','ActualSeason']=2014
match_df.loc[match_df.Season==' 2015/2016 ','ActualSeason']=2015
match_df.loc[match_df.Season==' 2016/2017 ','ActualSeason']=2016
match_df.loc[match_df.Season==' 2017/2018 ','ActualSeason']=2017
match_df.loc[match_df.Season==' 2018/2019 ','ActualSeason']=2018

In [82]:
match_df.ActualSeason.unique()

array([2014., 2015., 2016., 2017., 2018.])

In [83]:
match_df.head(5)

,Season,League,Description,MatchDate,Hteam_id,Hteam,Hchance,Hgoals,HxG,Hshots,...,Ashotstrgt,Adeep,Appda,Axpts,Dchance,FTR,MatchDate_Actual,MatchDate_Number,Year,ActualSeason
0,2014/2015,EPL,Manchester United 1 - 2 Swansea (August 16 2014),August 16 2014),89,Manchester United,65%,1,1.17,14,...,4,2,17.95,0.48,28%,Swansea,August 16 2014,2014-08-16,2014,2014.0
1,2014/2015,EPL,Leicester 2 - 2 Everton (August 16 2014),August 16 2014),75,Leicester,55%,2,1.28,11,...,3,15,11.69,0.76,29%,Draw,August 16 2014,2014-08-16,2014,2014.0
2,2014/2015,EPL,Queens Park Rangers 0 - 1 Hull (August 16 2014),August 16 2014),202,Queens Park Rangers,59%,0,1.90,19,...,4,5,10.29,0.74,24%,Hull,August 16 2014,2014-08-16,2014,2014.0
3,2014/2015,EPL,Stoke 0 - 1 Aston Villa (August 16 2014),August 16 2014),85,Stoke,15%,0,0.42,12,...,1,4,14.04,1.83,36%,Aston Villa,August 16 2014,2014-08-16,2014,2014.0
4,2014/2015,EPL,West Bromwich Albion 2 - 2 Sunderland (August ...,August 16 2014),76,West Bromwich Albion,59%,2,1.68,10,...,2,3,13.69,0.70,27%,Draw,August 16 2014,2014-08-16,2014,2014.0

In [84]:
match_df.columns

Index(['Season', 'League', 'Description', 'MatchDate', 'Hteam_id', 'Hteam',
       'Hchance', 'Hgoals', 'HxG', 'Hshots', 'Hshotstrgt', 'Hdeep', 'Hppda',
       'Hxpts', 'Ateam_id', 'Ateam', 'Achance', 'Agoals', 'AxG', 'Ashots',
       'Ashotstrgt', 'Adeep', 'Appda', 'Axpts', 'Dchance', 'FTR',
       'MatchDate_Actual', 'MatchDate_Number', 'Year', 'ActualSeason'],
      dtype='object')

In [85]:
match_df_final =match_df[['ActualSeason','MatchDate_Number','MatchDate_Actual', 'Year', 'League', 'Description', 'MatchDate', 'Hteam_id', 'Hteam',
       'Hchance', 'Hgoals', 'HxG', 'Hshots', 'Hshotstrgt', 'Hdeep', 'Hppda',
       'Hxpts', 'Ateam', 'Ateam_id', 'Achance', 'Agoals', 'AxG', 'Ashots',
       'Ashotstrgt', 'Adeep', 'Appda', 'Axpts', 'Dchance', 'FTR']]

In [86]:
match_df_final.shape

(1781, 29)

In [87]:
match_df_final.rename(columns={"ActualSeason":"season","MatchDate_Number":"MatchDate","MatchDate_Actual":"MatchDateStr"},inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [88]:
match_df_final.head(4)

,season,MatchDate,MatchDateStr,Year,League,Description,MatchDate,Hteam_id,Hteam,Hchance,...,Achance,Agoals,AxG,Ashots,Ashotstrgt,Adeep,Appda,Axpts,Dchance,FTR
0,2014.0,2014-08-16,August 16 2014,2014,EPL,Manchester United 1 - 2 Swansea (August 16 2014),August 16 2014),89,Manchester United,65%,...,7%,2,0.28,5,4,2,17.95,0.48,28%,Swansea
1,2014.0,2014-08-16,August 16 2014,2014,EPL,Leicester 2 - 2 Everton (August 16 2014),August 16 2014),75,Leicester,55%,...,16%,2,0.61,13,3,15,11.69,0.76,29%,Draw
2,2014.0,2014-08-16,August 16 2014,2014,EPL,Queens Park Rangers 0 - 1 Hull (August 16 2014),August 16 2014),202,Queens Park Rangers,59%,...,17%,1,1.12,11,4,5,10.29,0.74,24%,Hull
3,2014.0,2014-08-16,August 16 2014,2014,EPL,Stoke 0 - 1 Aston Villa (August 16 2014),August 16 2014),85,Stoke,15%,...,49%,1,0.91,7,1,4,14.04,1.83,36%,Aston Villa

In [89]:
match_df_final.describe()

,season,Year,Hteam_id,Hgoals,HxG,Hshots,Hshotstrgt,Hdeep,Hppda,Hxpts,Ateam_id,Agoals,AxG,Ashots,Ashotstrgt,Adeep,Appda,Axpts
count,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000,1781.000000
mean,2015.866367,2016.317799,91.271196,1.528355,1.477625,14.153285,4.718697,7.275126,10.836946,1.591258,90.965750,1.178551,1.138125,11.227962,3.820326,5.754632,12.349304,1.171392
std,1.359981,1.380874,35.683267,1.300782,0.869860,5.711665,2.659736,4.998156,6.269275,0.818232,35.123305,1.154673,0.715300,4.678630,2.236885,4.082559,7.525771,0.794021
min,2014.000000,2014.000000,71.000000,0.000000,0.030000,1.000000,0.000000,0.000000,2.440000,0.020000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.450000,0.000000
25%,2015.000000,2015.000000,76.000000,1.000000,0.810000,10.000000,3.000000,4.000000,7.050000,0.920000,76.000000,0.000000,0.590000,8.000000,2.000000,3.000000,7.810000,0.500000
50%,2016.000000,2016.000000,83.000000,1.000000,1.320000,14.000000,4.000000,6.000000,9.480000,1.650000,83.000000,1.000000,1.000000,11.000000,4.000000,5.000000,10.560000,1.040000
75%,2017.000000,2017.000000,88.000000,2.000000,2.010000,17.000000,6.000000,10.000000,12.860000,2.270000,88.000000,2.000000,1.540000,14.000000,5.000000,8.000000,14.710000,1.770000
max,2018.000000,2019.000000,229.000000,8.000000,5.730000,43.000000,17.000000,35.000000,83.200000,3.000000,229.000000,7.000000,4.240000,30.000000,15.000000,24.000000,89.500000,2.960000

In [90]:
understats_df.describe()

,season,team_id,Goal diff +1_shotsF,Goal diff +1_goalsF,Goal diff +1_xGF,Goal diff +1_shotsA,Goal diff +1_goalsA,Goal diff +1_xGA,Goal diff +1_xGD,Goal diff +1_xGF90,...,61-75_xGA/Sh,76+_shotsF,76+_goalsF,76+_xGF,76+_shotsA,76+_goalsA,76+_xGA,76+_xGD,76+_xGF/Sh,76+_xGA/Sh
count,100.000000,100.000000,100.000000,100.00000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,1.000000e+02,100.000000,100.000000
mean,2016.000000,92.800000,72.850000,9.48000,9.263650,81.98000,7.780000,7.915860,1.347790,1.498760,...,0.111544,94.100000,10.260000,10.631025,94.100000,10.26000,10.631025,2.999958e-11,0.112245,0.113541
std,1.421338,38.387445,36.735576,5.72868,5.476723,24.82585,3.076729,2.635416,5.406535,0.532051,...,0.021078,22.259943,4.885807,3.577784,24.251002,4.13563,3.135793,5.594084e+00,0.023272,0.020922
min,2014.000000,71.000000,15.000000,1.00000,1.132805,26.00000,1.000000,2.228918,-6.543601,0.539431,...,0.062980,55.000000,1.000000,3.411080,40.000000,3.00000,2.642372,-1.199613e+01,0.060912,0.053926
25%,2015.000000,76.750000,46.500000,5.00000,5.408379,64.75000,5.750000,6.231231,-2.330756,1.147594,...,0.097710,78.750000,6.750000,7.455758,78.000000,7.00000,8.100297,-4.456038e+00,0.096790,0.097835
50%,2016.000000,83.000000,65.500000,8.00000,7.541092,80.50000,8.000000,7.756635,-0.200015,1.461645,...,0.110257,93.000000,10.000000,10.302131,94.500000,10.00000,10.919647,-8.336029e-01,0.110494,0.111656
75%,2017.000000,88.000000,95.000000,13.00000,11.997350,102.00000,10.000000,9.656805,3.412165,1.791935,...,0.121612,111.250000,13.000000,12.654214,110.000000,13.00000,12.673292,3.562869e+00,0.126019,0.128716
max,2018.000000,229.000000,181.000000,29.00000,28.376823,136.00000,14.000000,16.523291,20.701563,3.022384,...,0.173802,138.000000,25.000000,20.071016,147.000000,24.00000,19.121792,1.378791e+01,0.170244,0.165301

In [92]:
understats_df.drop(columns=['Input_#2_team'
,'Input_#2_season'
,'Input_#2_team_id'
,'Input_#3_team'
,'Input_#3_season'
,'Input_#3_team_id'
,'Input_#4_season'
,'Input_#4_team'
,'Input_#4_team_id'
,'Input_#5_season'
,'Input_#5_team'
,'Input_#5_team_id'],inplace=True)

In [35]:
lst = list(understats_df.columns)

#### 2. Calculate the weighted average of all team related metrics based on previous two seasons

In [167]:
lst = list(understats_df.columns)
lst.remove('team')
lst.remove('season')
lst.remove('team_id')
cal_yr =[2016,2017,2018]
#cal_yr=[2018]
aggregrated_df=pd.DataFrame()
for i in range(0,len(cal_yr)):
    print(cal_yr[i]-1)
    df1=understats_df[(understats_df['season']==cal_yr[i]-1)]
    df2=understats_df[(understats_df['season']==cal_yr[i]-2)]
    df3=understats_df[(understats_df['season']==cal_yr[i])]
    findf=df3[['team', 'season', 'team_id']]
    findf['idx_id']=findf['team_id']
    df1['idx_id']=df1['team_id']
    df2['idx_id']=df2['team_id']
    findf.set_index('idx_id',inplace=True)
    df1.set_index('idx_id',inplace=True)
    df2.set_index('idx_id',inplace=True)
    for j in range(0,len(lst)):
        findf[lst[j]]=((df1[lst[j]]*2)+df2[lst[j]])/2
    aggregrated_df=pd.concat([aggregrated_df,findf])

2015

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2016
2017

In [168]:
aggregrated_df.iloc[53].isna().any()

False

In [171]:
aggregrated_df.dropna(axis=0,inplace=True)

In [172]:
aggregrated_df.shape

(45, 223)

#### 3. Merge the weighted average of previous two season team metrics to the match data

In [173]:
matches_2016=match_df_final[match_df_final['season']==2016]
matches_2017=match_df_final[match_df_final['season']==2017]
matches_2018=match_df_final[match_df_final['season']==2018]

In [174]:
matches_2016.shape

(380, 29)

In [226]:
season=[2016,2017,2018]
merged_df=pd.DataFrame()
for i in range(0,len(season)):
    s = season[i]
    init_df=match_df_final[match_df_final['season']==s]
    interim = pd.merge(init_df,aggregrated_df[aggregrated_df['season']==s],left_on=['season','Hteam_id'],right_on=['season','team_id'],how='left')
    l1 = list(interim.columns)
    for i in range(31,len(l1)):
        l1[i]='H'+l1[i]
    interim.columns=l1
    interim = pd.merge(interim,aggregrated_df[aggregrated_df['season']==s],left_on=['season','Ateam_id'],right_on=['season','team_id'],how='left')
    l1 = list(interim.columns)
    for i in range(253,len(l1)):
        l1[i]='A'+l1[i]
    interim.columns=l1
    merged_df =pd.concat([merged_df,interim])

In [227]:
l2 = list(merged_df.columns)

In [228]:
merged_df.shape

(1021, 473)

In [229]:
merged_df.to_csv(path+'trainingdata.csv')

#### 4. Append Team ID field in the dataset containing Finish Flag indicator, Key Players & merge them to Match data

In [230]:
data_v4=pd.read_csv(path+'data_v4.csv')
dimension = pd.read_csv(path+'teamdimension.csv')

In [231]:
ids=pd.DataFrame(dimension.groupby(['id','team']).size()).reset_index()

In [232]:
ids.rename(columns={0:'count'},inplace=True)

In [233]:
data_v4.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTR', 'Season', 'Day', 'Month', 'Year',
       'Left_Right_HomeTeam', 'Season Count', 'Left_Left_Left_Right_Season',
       'Sum_FTHG', 'Sum_FTAG', 'Sum_HTHG', 'Sum_HTAG', 'Sum_HS', 'Sum_AS',
       'Sum_HST', 'Sum_AST', 'Sum_HF', 'Sum_AF', 'Sum_HC', 'Sum_AC', 'Sum_HY',
       'Sum_AY', 'Sum_HR', 'Sum_AR', 'Away Team', 'Right_Season Count',
       'Left_Left_Right_Season', 'Right_Sum_FTHG', 'Right_Sum_FTAG',
       'Right_Sum_HTHG', 'Right_Sum_HTAG', 'Right_Sum_HS', 'Right_Sum_AS',
       'Right_Sum_HST', 'Right_Sum_AST', 'Right_Sum_HF', 'Right_Sum_AF',
       'Right_Sum_HC', 'Right_Sum_AC', 'Right_Sum_HY', 'Right_Sum_AY',
       'Right_Sum_HR', 'Right_Sum_AR', 'Left_Right_Season', 'Pos', 'Team', 'W',
       'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Avg_Finish', 'PY_finish_flag',
       'Right_Season', 'Right_Pos', 'Right_Team', 'Right_W', 'Right_D',
       'Right_L', 'Right_GF', 'Right_GA', 'Right_GD', 'Right_Pts',
       'Right_Avg_Finish', 'Right_PY_finish_flag'],
      dtype='object')

In [234]:
def set_id(label,columnname):
    teamname=[]
    teamid=list(ids.id.unique())
    teamname=list(ids['team'].unique())
    playerteamid=[]
    for i in range(0,data_v4.shape[0]):
        for j in range(0,len(teamid)):
            name=data_v4[label][i]
            if (name=='Man City'):
                name='Manchester City'
            elif (name=='Man United'):
                name='Manchester United'
            elif (name=='Newcastle'):
                name='Newcastle United'
            elif (name=='QPR'):
                name='Queens Park Rangers'
            elif (name=='West Brom'):
                name='West Bromwich Albion'
            else:
                name=data_v4[label][i]
            if (name==teamname[j]):
                playerteamid.append(teamid[j])
                break
            if (j==28):
                playerteamid.append(' ')
    data_v4[columnname]=playerteamid

In [235]:
set_id('HomeTeam','Hteam_id')
set_id('AwayTeam','Ateam_id')

In [236]:
np.sort(ids['team'].unique())

array(['Arsenal', 'Aston Villa', 'Bournemouth', 'Brighton', 'Burnley',
       'Cardiff', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham',
       'Huddersfield', 'Hull', 'Leicester', 'Liverpool',
       'Manchester City', 'Manchester United', 'Middlesbrough',
       'Newcastle United', 'Norwich', 'Queens Park Rangers',
       'Southampton', 'Stoke', 'Sunderland', 'Swansea', 'Tottenham',
       'Watford', 'West Bromwich Albion', 'West Ham',
       'Wolverhampton Wanderers'], dtype=object)

In [237]:
data_v4[['Team','Hteam_id','Ateam_id']]

                Team  Hteam_id  Ateam_id
0        Aston Villa        71        83
1            Burnley        92        83
2            Chelsea        80        83
3     Crystal Palace        78        83
4            Everton        72        83
5               Hull        91        83
6          Leicester        75        83
7          Liverpool        87        83
8           Man City        88        83
9         Man United        89        83
10         Newcastle        86        83
11               QPR       202        83
12       Southampton        74        83
13             Stoke        85        83
14        Sunderland        77        83
15           Swansea        84        83
16         Tottenham        82        83
17         West Brom        76        83
18          West Ham        81        83
19       Aston Villa        71        83
20           Chelsea        80        83
21    Crystal Palace        78        83
22           Everton        72        83
23         Leicester        75        83
24         Liverpool        87        83
25          Man City        88        83
26        Man United        89        83
27         Newcastle        86        83
28           Norwich        79        83
29       Southampton        74        83
...              ...       ...       ...
1454         Swansea        84        81
1455       Tottenham        82        81
1456         Watford        90        81
1457       West Brom        76        81
1458         Arsenal        83        81
1459     Bournemouth        73        81
1460         Burnley        92        81
1461         Chelsea        80        81
1462  Crystal Palace        78        81
1463         Everton        72        81
1464       Leicester        75        81
1465       Liverpool        87        81
1466        Man City        88        81
1467      Man United        89        81
1468       Newcastle        86        81
1469     Southampton        74        81
1470           Stoke        85        81
1471         Swansea        84        81
1472       Tottenham        82        81
1473         Watford        90        81
1474       West Brom        76        81
1475         Arsenal        83        81
1476        Brighton       220        81
1477         Burnley        92        81
1478         Everton        72        81
1479    Huddersfield       219        81
1480       Leicester        75        81
1481       Liverpool        87        81
1482       Newcastle        86        81
1483     Southampton        74        81

[1484 rows x 3 columns]

In [238]:
np.sort(data_v4['Team'].unique())

array(['Arsenal', 'Aston Villa', 'Bournemouth', 'Brighton', 'Burnley',
       'Chelsea', 'Crystal Palace', 'Everton', 'Huddersfield', 'Hull',
       'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle',
       'Norwich', 'QPR', 'Southampton', 'Stoke', 'Sunderland', 'Swansea',
       'Tottenham', 'Watford', 'West Brom', 'West Ham'], dtype=object)

In [239]:
data_v4['Season'].unique()

array(['2014-15', '2015-16', '2016-17', '2017-18', '2018-19'],
      dtype=object)

In [240]:
data_v4.loc[data_v4.Season=='2014-15','ActualSeason']=2014
data_v4.loc[data_v4.Season=='2015-16','ActualSeason']=2015
data_v4.loc[data_v4.Season=='2016-17','ActualSeason']=2016
data_v4.loc[data_v4.Season=='2017-18','ActualSeason']=2017
data_v4.loc[data_v4.Season=='2018-19','ActualSeason']=2018

In [241]:
data_v4.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTR', 'Season', 'Day', 'Month', 'Year',
       'Left_Right_HomeTeam', 'Season Count', 'Left_Left_Left_Right_Season',
       'Sum_FTHG', 'Sum_FTAG', 'Sum_HTHG', 'Sum_HTAG', 'Sum_HS', 'Sum_AS',
       'Sum_HST', 'Sum_AST', 'Sum_HF', 'Sum_AF', 'Sum_HC', 'Sum_AC', 'Sum_HY',
       'Sum_AY', 'Sum_HR', 'Sum_AR', 'Away Team', 'Right_Season Count',
       'Left_Left_Right_Season', 'Right_Sum_FTHG', 'Right_Sum_FTAG',
       'Right_Sum_HTHG', 'Right_Sum_HTAG', 'Right_Sum_HS', 'Right_Sum_AS',
       'Right_Sum_HST', 'Right_Sum_AST', 'Right_Sum_HF', 'Right_Sum_AF',
       'Right_Sum_HC', 'Right_Sum_AC', 'Right_Sum_HY', 'Right_Sum_AY',
       'Right_Sum_HR', 'Right_Sum_AR', 'Left_Right_Season', 'Pos', 'Team', 'W',
       'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Avg_Finish', 'PY_finish_flag',
       'Right_Season', 'Right_Pos', 'Right_Team', 'Right_W', 'Right_D',
       'Right_L', 'Right_GF', 'Right_GA', 'Right_GD', 'Right_Pts',
       'Right_Avg_Finish', 'Right_PY_finish_flag', 'Hteam_id', 'Ateam_id',
       'ActualSeason'],
      dtype='object')

In [242]:
filter_data_v4=data_v4[['Date', 'ActualSeason','HomeTeam', 'AwayTeam','FTR','Hteam_id','W','D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Avg_Finish', 'PY_finish_flag','Ateam_id','Right_Pos', 'Right_Team', 'Right_W', 'Right_D',
       'Right_L', 'Right_GF', 'Right_GA', 'Right_GD', 'Right_Pts',
       'Right_Avg_Finish', 'Right_PY_finish_flag',]]

In [243]:
filter_data_v4.head(1)

,Date,ActualSeason,HomeTeam,AwayTeam,FTR,Hteam_id,W,D,L,GF,...,Right_Team,Right_W,Right_D,Right_L,Right_GF,Right_GA,Right_GD,Right_Pts,Right_Avg_Finish,Right_PY_finish_flag
0,20/09/14,2014.0,Aston Villa,Arsenal,A,71,9,12,17,41,...,Arsenal,22,8,8,71,42,29,74,4,1

In [244]:
merged_df.shape

(1021, 473)

In [245]:
comp_trainingdf = pd.merge(merged_df,filter_data_v4,left_on=['season','Hteam_id','Ateam_id'],right_on=['ActualSeason','Hteam_id','Ateam_id'],how='left')

In [246]:
comp_trainingdf.shape

(1021, 498)

In [247]:
ren_lst =list(comp_trainingdf.columns)
for i in range(478,len(ren_lst)):
    ren_lst[i]='H'+ren_lst[i]
comp_trainingdf.columns=ren_lst

In [248]:
comp_trainingdf.columns

Index(['season', 'MatchDate', 'MatchDateStr', 'Year', 'League', 'Description',
       'MatchDate', 'Hteam_id', 'Hteam', 'Hchance',
       ...
       'HRight_Team', 'HRight_W', 'HRight_D', 'HRight_L', 'HRight_GF',
       'HRight_GA', 'HRight_GD', 'HRight_Pts', 'HRight_Avg_Finish',
       'HRight_PY_finish_flag'],
      dtype='object', length=498)

In [249]:
comp_trainingdf.to_csv(path+'CompleteTrainingDataset.csv')

In [251]:
comp_trainingdf.dropna(axis=0,inplace=True)

In [252]:
comp_trainingdf.shape

(550, 498)

In [256]:
comp_trainingdf.groupby(['season'])['season'].count()

season
2016.0    210
2017.0    240
2018.0    100
Name: season, dtype: int64

In [257]:
comp_trainingdf.to_csv(path+'CompleteTrainingDataset.csv')

In [8]:
path ='C:\\Users\\Sandy\\Documents\\Python\\SoccerProject\\Team_match_data\\'
match1=pd.read_csv(path+'soccer_data_1415.csv')
match2=pd.read_csv(path+'soccer_data_1516.csv')
match3=pd.read_csv(path+'soccer_data_1617.csv')
match4=pd.read_csv(path+'soccer_data_1718.csv')
match5=pd.read_csv(path+'soccer_data_1819.csv')
df=pd.concat([match1,match2,match3,match4,match5])

In [9]:
df.drop(columns=['Unnamed: 0'],inplace=True)
#df.drop(columns=['Unnamed: 0','Unnamed: 0.1','MatchDate.1','MatchDateStr','Year'],inplace=True)

In [10]:
df.loc[df.Season==' 2014/2015 ','ActualSeason']=2014
df.loc[df.Season==' 2015/2016 ','ActualSeason']=2015
df.loc[df.Season==' 2016/2017 ','ActualSeason']=2016
df.loc[df.Season==' 2017/2018 ','ActualSeason']=2017
df.loc[df.Season==' 2018/2019 ','ActualSeason']=2018

In [11]:
df['MatchDate_Actual']=df['MatchDate'].apply(lambda x: str.replace(x,')',''))
df['Hchance']=df['Hchance'].apply(lambda x:int(str.replace(x,'%',''))/100)
df['Achance']=df['Achance'].apply(lambda x:int(str.replace(x,'%',''))/100)
df['Dchance']=df['Dchance'].apply(lambda x:int(str.replace(x,'%',''))/100)
df['MatchDate_Number']=pd.to_datetime(df['MatchDate_Actual'],format='%B %d %Y',errors='raise')
df['Year']=df['MatchDate_Number'].apply(lambda x: x.year)
dimension = pd.read_csv(path+'teamdimension.csv')
ids=pd.DataFrame(dimension.groupby(['id','team']).size()).reset_index()
ids.rename(columns={0:'count'},inplace=True)
df['Hteam'].iloc[0]
teamname=[]
teamid=list(ids.id.unique())
teamname=list(ids['team'].unique())
matchhometeamid=[]
matchawayteamid=[]
for i in range(0,df.shape[0]):
    for j in range(0,len(teamid)):
        if (df['Hteam'].iloc[i]==teamname[j]):
            matchhometeamid.append(teamid[j])
        if (df['Ateam'].iloc[i]==teamname[j]):
            matchawayteamid.append(teamid[j])
df['Hteam_id']=matchhometeamid
df['Ateam_id']=matchawayteamid

In [12]:
matchdata = df[['Season',
       'League', 'Description', 'MatchDate', 'Hteam_id', 'Hteam', 'Hchance', 'Hgoals', 'HxG', 'Hshots', 'Hshotstrgt', 'Hdeep',
       'Hppda', 'Hxpts', 'Ateam','Ateam_id', 'Achance', 'Agoals', 'AxG', 'Ashots',
       'Ashotstrgt', 'Adeep', 'Appda', 'Axpts', 'Dchance', 'FTR']]

#### 6. Get Last Year and Last to Last Year Fields for season 2016,2017 and 2018

In [13]:
match_df_final =df[['ActualSeason','MatchDate_Number','MatchDate_Actual', 'Year', 'League', 'Description', 'MatchDate', 'Hteam_id', 'Hteam',
       'Hchance', 'Hgoals', 'HxG', 'Hshots', 'Hshotstrgt', 'Hdeep', 'Hppda',
       'Hxpts', 'Ateam', 'Ateam_id', 'Achance', 'Agoals', 'AxG', 'Ashots',
       'Ashotstrgt', 'Adeep', 'Appda', 'Axpts', 'Dchance', 'FTR']]

In [14]:
hlst = sorted(list(match_df_final.Hteam_id.unique()))

In [15]:
hlst = sorted(list(match_df_final.Hteam_id.unique()))
final=pd.DataFrame()
for j in range(0,len(hlst)):
    for k in range(0,len(hlst)):
        if (i==j): continue
        sampledf= match_df_final[(match_df_final['Hteam_id']==hlst[j]) & (match_df_final['Ateam_id']==hlst[k])]
        cal_yr =[2016,2017,2018]
        aggregrated_df=pd.DataFrame()
        for i in range(0,len(cal_yr)):
            #print(cal_yr[i]-1)
            df1=sampledf[(sampledf['ActualSeason']==cal_yr[i]-1)]
            df2=sampledf[(sampledf['ActualSeason']==cal_yr[i]-2)]
            df3=sampledf[(sampledf['ActualSeason']==cal_yr[i])]
            interimdf = pd.merge(df3,df1[['Hteam_id','Ateam_id','Hchance','Hgoals', 'HxG', 'Hshots', 'Hshotstrgt', 'Hdeep', 'Hppda', 'Hxpts','Achance', 'Agoals', 'AxG', 'Ashots', 'Ashotstrgt',
        'Adeep', 'Appda', 'Axpts', 'Dchance']],left_on=['Hteam_id','Ateam_id'],right_on=['Hteam_id','Ateam_id'],how='left')
            ren_lst =list(interimdf.columns)
            for i in range(29,len(ren_lst)):
                ren_lst[i]='LY_'+ren_lst[i]
                interimdf.columns=ren_lst
            finaldf = pd.merge(interimdf,df2[['Hteam_id','Ateam_id','Hchance','Hgoals', 'HxG', 'Hshots', 'Hshotstrgt', 'Hdeep', 'Hppda', 'Hxpts','Achance', 'Agoals', 'AxG', 'Ashots', 'Ashotstrgt',
        'Adeep', 'Appda', 'Axpts', 'Dchance']],left_on=['Hteam_id','Ateam_id'],right_on=['Hteam_id','Ateam_id'],how='left')
            ren_lst =list(finaldf.columns)
            for i in range(46,len(ren_lst)):
                ren_lst[i]='L2LY_'+ren_lst[i]
                finaldf.columns=ren_lst
            aggregrated_df=pd.concat([aggregrated_df,finaldf])
        final=pd.concat([final,aggregrated_df])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [16]:
final[final['ActualSeason']==2018].shape

(261, 63)

In [17]:
final.ActualSeason.unique()

array([2016., 2017., 2018.])

In [18]:
final.to_csv('finaldata.csv')

In [19]:
frmtddf=pd.read_csv('FinalCompleteTrainingData.csv')

In [20]:
final=final[['League', 'MatchDate', 'MatchDate_Actual',
       'MatchDate_Number', 'Year','Achance_x', 'ActualSeason', 'Adeep_x', 'Agoals_x', 'Appda_x',
       'Ashots_x', 'Ashotstrgt_x', 'Ateam', 'Ateam_id', 'AxG_x', 'Axpts_x',
       'Dchance_x', 'Description', 'FTR', 'Hchance_x', 'Hdeep_x', 'Hgoals_x',
       'Hppda_x', 'Hshots_x', 'Hshotstrgt_x', 'Hteam', 'Hteam_id', 'HxG_x',
       'Hxpts_x', 'L2LY_Achance', 'L2LY_Adeep', 'L2LY_Agoals', 'L2LY_Appda',
       'L2LY_Ashots', 'L2LY_Ashotstrgt', 'L2LY_AxG', 'L2LY_Axpts',
       'L2LY_Dchance', 'L2LY_Hchance', 'L2LY_Hdeep', 'L2LY_Hgoals',
       'L2LY_Hppda', 'L2LY_Hshots', 'L2LY_Hshotstrgt', 'L2LY_HxG',
       'L2LY_Hxpts', 'LY_Achance_y', 'LY_Adeep_y', 'LY_Agoals_y', 'LY_Appda_y',
       'LY_Ashots_y', 'LY_Ashotstrgt_y', 'LY_AxG_y', 'LY_Axpts_y',
       'LY_Dchance_y', 'LY_Hchance_y', 'LY_Hdeep_y', 'LY_Hgoals_y',
       'LY_Hppda_y', 'LY_Hshots_y', 'LY_Hshotstrgt_y', 'LY_HxG_y',
       'LY_Hxpts_y']]

In [21]:
frmtddf.drop(columns=['Unnamed: 0','Unnamed: 0.1','MatchDateStr','MatchDate.1'],inplace=True)

In [22]:
final.drop(columns=['MatchDate_Actual','MatchDate'],inplace=True)

In [23]:
mergedf= frmtddf[['season'
,'MatchDate'
,'Year'
,'League'
,'Description'
,'Hteam_id'
,'Hteam'
,'Ateam'
,'Ateam_id'
,'FTR_x'
,'HGoal diff +1_shotsF'
,'HGoal diff +1_goalsF'
,'HGoal diff +1_xGF'
,'HGoal diff +1_shotsA'
,'HGoal diff +1_goalsA'
,'HGoal diff +1_xGA'
,'HGoal diff +1_xGD'
,'HGoal diff +1_xGF90'
,'HGoal diff +1_xGA90'
,'HGoal diff +1_timeF'
,'HGoal diff < -1_shotsF'
,'HGoal diff < -1_goalsF'
,'HGoal diff < -1_xGF'
,'HGoal diff < -1_shotsA'
,'HGoal diff < -1_goalsA'
,'HGoal diff < -1_xGA'
,'HGoal diff < -1_xGD'
,'HGoal diff < -1_xGF90'
,'HGoal diff < -1_xGA90'
,'HGoal diff < -1_timeF'
,'HGoal diff > +1_shotsF'
,'HGoal diff > +1_goalsF'
,'HGoal diff > +1_xGF'
,'HGoal diff > +1_shotsA'
,'HGoal diff > +1_goalsA'
,'HGoal diff > +1_xGA'
,'HGoal diff > +1_xGD'
,'HGoal diff > +1_xGF90'
,'HGoal diff > +1_xGA90'
,'HGoal diff > +1_timeF'
,'HGoal diff 0_shotsF'
,'HGoal diff 0_goalsF'
,'HGoal diff 0_xGF'
,'HGoal diff 0_shotsA'
,'HGoal diff 0_goalsA'
,'HGoal diff 0_xGA'
,'HGoal diff 0_xGD'
,'HGoal diff 0_xGF90'
,'HGoal diff 0_xGA90'
,'HGoal diff 0_timeF'
,'HGoal diff -1_shotsF'
,'HGoal diff -1_goalsF'
,'HGoal diff -1_xGF'
,'HGoal diff -1_shotsA'
,'HGoal diff -1_goalsA'
,'HGoal diff -1_xGA'
,'HGoal diff -1_xGD'
,'HGoal diff -1_xGF90'
,'HGoal diff -1_xGA90'
,'HGoal diff -1_timeF'
,'HBlockedShot_shotsA'
,'HBlockedShot_shotsF'
,'HBlockedShot_xGA'
,'HBlockedShot_xGA/Sh'
,'HBlockedShot_xGD'
,'HBlockedShot_xGF'
,'HBlockedShot_xGF/Sh'
,'HGoal_shotsA'
,'HGoal_shotsF'
,'HGoal_xGA'
,'HGoal_xGA/Sh'
,'HGoal_xGD'
,'HGoal_xGF'
,'HGoal_xGF/Sh'
,'HMissedShots_shotsA'
,'HMissedShots_shotsF'
,'HMissedShots_xGA'
,'HMissedShots_xGA/Sh'
,'HMissedShots_xGD'
,'HMissedShots_xGF'
,'HMissedShots_xGF/Sh'
,'HSavedShot_shotsA'
,'HSavedShot_shotsF'
,'HSavedShot_xGA'
,'HSavedShot_xGA/Sh'
,'HSavedShot_xGD'
,'HSavedShot_xGF'
,'HSavedShot_xGF/Sh'
,'HShotOnPost_shotsA'
,'HShotOnPost_shotsF'
,'HShotOnPost_xGA'
,'HShotOnPost_xGA/Sh'
,'HShotOnPost_xGD'
,'HShotOnPost_xGF'
,'HShotOnPost_xGF/Sh'
,'HownGoals_shotsF'
,'HownGoals_goalsF'
,'HownGoals_xGF'
,'HownGoals_shotsA'
,'HownGoals_goalsA'
,'HownGoals_xGA'
,'HownGoals_xGF/Sh'
,'HownGoals_xGD'
,'HownGoals_xGA/Sh'
,'HshotOboxTotal_shotsF'
,'HshotOboxTotal_goalsF'
,'HshotOboxTotal_xGF'
,'HshotOboxTotal_shotsA'
,'HshotOboxTotal_goalsA'
,'HshotOboxTotal_xGA'
,'HshotOboxTotal_xGF/Sh'
,'HshotOboxTotal_xGD'
,'HshotOboxTotal_xGA/Sh'
,'HshotPenaltyArea_shotsF'
,'HshotPenaltyArea_goalsF'
,'HshotPenaltyArea_xGF'
,'HshotPenaltyArea_shotsA'
,'HshotPenaltyArea_goalsA'
,'HshotPenaltyArea_xGA'
,'HshotPenaltyArea_xGF/Sh'
,'HshotPenaltyArea_xGD'
,'HshotPenaltyArea_xGA/Sh'
,'HshotSixYardBox_shotsF'
,'HshotSixYardBox_goalsF'
,'HshotSixYardBox_xGF'
,'HshotSixYardBox_shotsA'
,'HshotSixYardBox_goalsA'
,'HshotSixYardBox_xGA'
,'HshotSixYardBox_xGF/Sh'
,'HshotSixYardBox_xGD'
,'HshotSixYardBox_xGA/Sh'
,'HDirectFreekick_shotsF'
,'HDirectFreekick_goalsF'
,'HDirectFreekick_xGF'
,'HDirectFreekick_shotsA'
,'HDirectFreekick_goalsA'
,'HDirectFreekick_xGA'
,'HDirectFreekick_xGD'
,'HDirectFreekick_xGF/Sh'
,'HDirectFreekick_xGA/Sh'
,'HFromCorner_shotsF'
,'HFromCorner_goalsF'
,'HFromCorner_xGF'
,'HFromCorner_shotsA'
,'HFromCorner_goalsA'
,'HFromCorner_xGA'
,'HFromCorner_xGD'
,'HFromCorner_xGF/Sh'
,'HFromCorner_xGA/Sh'
,'HOpenPlay_shotsF'
,'HOpenPlay_goalsF'
,'HOpenPlay_xGF'
,'HOpenPlay_shotsA'
,'HOpenPlay_goalsA'
,'HOpenPlay_xGA'
,'HOpenPlay_xGD'
,'HOpenPlay_xGF/Sh'
,'HOpenPlay_xGA/Sh'
,'HPenalty_shotsF'
,'HPenalty_goalsF'
,'HPenalty_xGF'
,'HPenalty_shotsA'
,'HPenalty_goalsA'
,'HPenalty_xGA'
,'HPenalty_xGD'
,'HPenalty_xGF/Sh'
,'HPenalty_xGA/Sh'
,'HSetPiece_shotsF'
,'HSetPiece_goalsF'
,'HSetPiece_xGF'
,'HSetPiece_shotsA'
,'HSetPiece_goalsA'
,'HSetPiece_xGA'
,'HSetPiece_xGD'
,'HSetPiece_xGF/Sh'
,'HSetPiece_xGA/Sh'
,'H0-15_shotsF'
,'H0-15_goalsF'
,'H0-15_xGF'
,'H0-15_shotsA'
,'H0-15_goalsA'
,'H0-15_xGA'
,'H0-15_xGD'
,'H0-15_xGF/Sh'
,'H0-15_xGA/Sh'
,'H16-30_shotsF'
,'H16-30_goalsF'
,'H16-30_xGF'
,'H16-30_shotsA'
,'H16-30_goalsA'
,'H16-30_xGA'
,'H16-30_xGD'
,'H16-30_xGF/Sh'
,'H16-30_xGA/Sh'
,'H31-45_shotsF'
,'H31-45_goalsF'
,'H31-45_xGF'
,'H31-45_shotsA'
,'H31-45_goalsA'
,'H31-45_xGA'
,'H31-45_xGD'
,'H31-45_xGF/Sh'
,'H31-45_xGA/Sh'
,'H46-60_shotsF'
,'H46-60_goalsF'
,'H46-60_xGF'
,'H46-60_shotsA'
,'H46-60_goalsA'
,'H46-60_xGA'
,'H46-60_xGD'
,'H46-60_xGF/Sh'
,'H46-60_xGA/Sh'
,'H61-75_shotsF'
,'H61-75_goalsF'
,'H61-75_xGF'
,'H61-75_shotsA'
,'H61-75_goalsA'
,'H61-75_xGA'
,'H61-75_xGD'
,'H61-75_xGF/Sh'
,'H61-75_xGA/Sh'
,'H76+_shotsF'
,'H76+_goalsF'
,'H76+_xGF'
,'H76+_shotsA'
,'H76+_goalsA'
,'H76+_xGA'
,'H76+_xGD'
,'H76+_xGF/Sh'
,'H76+_xGA/Sh'
,'team_y'
,'AGoal diff +1_shotsF'
,'AGoal diff +1_goalsF'
,'AGoal diff +1_xGF'
,'AGoal diff +1_shotsA'
,'AGoal diff +1_goalsA'
,'AGoal diff +1_xGA'
,'AGoal diff +1_xGD'
,'AGoal diff +1_xGF90'
,'AGoal diff +1_xGA90'
,'AGoal diff +1_timeF'
,'AGoal diff < -1_shotsF'
,'AGoal diff < -1_goalsF'
,'AGoal diff < -1_xGF'
,'AGoal diff < -1_shotsA'
,'AGoal diff < -1_goalsA'
,'AGoal diff < -1_xGA'
,'AGoal diff < -1_xGD'
,'AGoal diff < -1_xGF90'
,'AGoal diff < -1_xGA90'
,'AGoal diff < -1_timeF'
,'AGoal diff > +1_shotsF'
,'AGoal diff > +1_goalsF'
,'AGoal diff > +1_xGF'
,'AGoal diff > +1_shotsA'
,'AGoal diff > +1_goalsA'
,'AGoal diff > +1_xGA'
,'AGoal diff > +1_xGD'
,'AGoal diff > +1_xGF90'
,'AGoal diff > +1_xGA90'
,'AGoal diff > +1_timeF'
,'AGoal diff 0_shotsF'
,'AGoal diff 0_goalsF'
,'AGoal diff 0_xGF'
,'AGoal diff 0_shotsA'
,'AGoal diff 0_goalsA'
,'AGoal diff 0_xGA'
,'AGoal diff 0_xGD'
,'AGoal diff 0_xGF90'
,'AGoal diff 0_xGA90'
,'AGoal diff 0_timeF'
,'AGoal diff -1_shotsF'
,'AGoal diff -1_goalsF'
,'AGoal diff -1_xGF'
,'AGoal diff -1_shotsA'
,'AGoal diff -1_goalsA'
,'AGoal diff -1_xGA'
,'AGoal diff -1_xGD'
,'AGoal diff -1_xGF90'
,'AGoal diff -1_xGA90'
,'AGoal diff -1_timeF'
,'ABlockedShot_shotsA'
,'ABlockedShot_shotsF'
,'ABlockedShot_xGA'
,'ABlockedShot_xGA/Sh'
,'ABlockedShot_xGD'
,'ABlockedShot_xGF'
,'ABlockedShot_xGF/Sh'
,'AGoal_shotsA'
,'AGoal_shotsF'
,'AGoal_xGA'
,'AGoal_xGA/Sh'
,'AGoal_xGD'
,'AGoal_xGF'
,'AGoal_xGF/Sh'
,'AMissedShots_shotsA'
,'AMissedShots_shotsF'
,'AMissedShots_xGA'
,'AMissedShots_xGA/Sh'
,'AMissedShots_xGD'
,'AMissedShots_xGF'
,'AMissedShots_xGF/Sh'
,'ASavedShot_shotsA'
,'ASavedShot_shotsF'
,'ASavedShot_xGA'
,'ASavedShot_xGA/Sh'
,'ASavedShot_xGD'
,'ASavedShot_xGF'
,'ASavedShot_xGF/Sh'
,'AShotOnPost_shotsA'
,'AShotOnPost_shotsF'
,'AShotOnPost_xGA'
,'AShotOnPost_xGA/Sh'
,'AShotOnPost_xGD'
,'AShotOnPost_xGF'
,'AShotOnPost_xGF/Sh'
,'AownGoals_shotsF'
,'AownGoals_goalsF'
,'AownGoals_xGF'
,'AownGoals_shotsA'
,'AownGoals_goalsA'
,'AownGoals_xGA'
,'AownGoals_xGF/Sh'
,'AownGoals_xGD'
,'AownGoals_xGA/Sh'
,'AshotOboxTotal_shotsF'
,'AshotOboxTotal_goalsF'
,'AshotOboxTotal_xGF'
,'AshotOboxTotal_shotsA'
,'AshotOboxTotal_goalsA'
,'AshotOboxTotal_xGA'
,'AshotOboxTotal_xGF/Sh'
,'AshotOboxTotal_xGD'
,'AshotOboxTotal_xGA/Sh'
,'AshotPenaltyArea_shotsF'
,'AshotPenaltyArea_goalsF'
,'AshotPenaltyArea_xGF'
,'AshotPenaltyArea_shotsA'
,'AshotPenaltyArea_goalsA'
,'AshotPenaltyArea_xGA'
,'AshotPenaltyArea_xGF/Sh'
,'AshotPenaltyArea_xGD'
,'AshotPenaltyArea_xGA/Sh'
,'AshotSixYardBox_shotsF'
,'AshotSixYardBox_goalsF'
,'AshotSixYardBox_xGF'
,'AshotSixYardBox_shotsA'
,'AshotSixYardBox_goalsA'
,'AshotSixYardBox_xGA'
,'AshotSixYardBox_xGF/Sh'
,'AshotSixYardBox_xGD'
,'AshotSixYardBox_xGA/Sh'
,'ADirectFreekick_shotsF'
,'ADirectFreekick_goalsF'
,'ADirectFreekick_xGF'
,'ADirectFreekick_shotsA'
,'ADirectFreekick_goalsA'
,'ADirectFreekick_xGA'
,'ADirectFreekick_xGD'
,'ADirectFreekick_xGF/Sh'
,'ADirectFreekick_xGA/Sh'
,'AFromCorner_shotsF'
,'AFromCorner_goalsF'
,'AFromCorner_xGF'
,'AFromCorner_shotsA'
,'AFromCorner_goalsA'
,'AFromCorner_xGA'
,'AFromCorner_xGD'
,'AFromCorner_xGF/Sh'
,'AFromCorner_xGA/Sh'
,'AOpenPlay_shotsF'
,'AOpenPlay_goalsF'
,'AOpenPlay_xGF'
,'AOpenPlay_shotsA'
,'AOpenPlay_goalsA'
,'AOpenPlay_xGA'
,'AOpenPlay_xGD'
,'AOpenPlay_xGF/Sh'
,'AOpenPlay_xGA/Sh'
,'APenalty_shotsF'
,'APenalty_goalsF'
,'APenalty_xGF'
,'APenalty_shotsA'
,'APenalty_goalsA'
,'APenalty_xGA'
,'APenalty_xGD'
,'APenalty_xGF/Sh'
,'APenalty_xGA/Sh'
,'ASetPiece_shotsF'
,'ASetPiece_goalsF'
,'ASetPiece_xGF'
,'ASetPiece_shotsA'
,'ASetPiece_goalsA'
,'ASetPiece_xGA'
,'ASetPiece_xGD'
,'ASetPiece_xGF/Sh'
,'ASetPiece_xGA/Sh'
,'A0-15_shotsF'
,'A0-15_goalsF'
,'A0-15_xGF'
,'A0-15_shotsA'
,'A0-15_goalsA'
,'A0-15_xGA'
,'A0-15_xGD'
,'A0-15_xGF/Sh'
,'A0-15_xGA/Sh'
,'A16-30_shotsF'
,'A16-30_goalsF'
,'A16-30_xGF'
,'A16-30_shotsA'
,'A16-30_goalsA'
,'A16-30_xGA'
,'A16-30_xGD'
,'A16-30_xGF/Sh'
,'A16-30_xGA/Sh'
,'A31-45_shotsF'
,'A31-45_goalsF'
,'A31-45_xGF'
,'A31-45_shotsA'
,'A31-45_goalsA'
,'A31-45_xGA'
,'A31-45_xGD'
,'A31-45_xGF/Sh'
,'A31-45_xGA/Sh'
,'A46-60_shotsF'
,'A46-60_goalsF'
,'A46-60_xGF'
,'A46-60_shotsA'
,'A46-60_goalsA'
,'A46-60_xGA'
,'A46-60_xGD'
,'A46-60_xGF/Sh'
,'A46-60_xGA/Sh'
,'A61-75_shotsF'
,'A61-75_goalsF'
,'A61-75_xGF'
,'A61-75_shotsA'
,'A61-75_goalsA'
,'A61-75_xGA'
,'A61-75_xGD'
,'A61-75_xGF/Sh'
,'A61-75_xGA/Sh'
,'A76+_shotsF'
,'A76+_goalsF'
,'A76+_xGF'
,'A76+_shotsA'
,'A76+_goalsA'
,'A76+_xGA'
,'A76+_xGD'
,'A76+_xGF/Sh'
,'A76+_xGA/Sh'
,'Date'
,'ActualSeason'
,'HomeTeam'
,'AwayTeam'
,'FTR_y'
,'HW'
,'HD'
,'HL'
,'HGF'
,'HGA'
,'HGD'
,'HPts'
,'HAvg_Finish'
,'HPY_finish_flag'
,'HRight_Pos'
,'HRight_Team'
,'HRight_W'
,'HRight_D'
,'HRight_L'
,'HRight_GF'
,'HRight_GA'
,'HRight_GD'
,'HRight_Pts'
,'HRight_Avg_Finish'
,'HRight_PY_finish_flag'
,'CalendarMonth'
,'CalendarYear'
,'CalendarDay'
,'HKey_Players'
,'AKey_Players']]

In [24]:
finaldf = pd.merge(mergedf,final,left_on=['season','Hteam_id','Ateam_id'],right_on=['ActualSeason','Hteam_id','Ateam_id'],how='left')

In [25]:
finaldf.isna().any()

season                    False
MatchDate                 False
Year_x                    False
League_x                  False
Description_x             False
Hteam_id                  False
Hteam_x                   False
Ateam_x                   False
Ateam_id                  False
FTR_x                     False
HGoal diff +1_shotsF      False
HGoal diff +1_goalsF      False
HGoal diff +1_xGF         False
HGoal diff +1_shotsA      False
HGoal diff +1_goalsA      False
HGoal diff +1_xGA         False
HGoal diff +1_xGD         False
HGoal diff +1_xGF90       False
HGoal diff +1_xGA90       False
HGoal diff +1_timeF       False
HGoal diff < -1_shotsF    False
HGoal diff < -1_goalsF    False
HGoal diff < -1_xGF       False
HGoal diff < -1_shotsA    False
HGoal diff < -1_goalsA    False
HGoal diff < -1_xGA       False
HGoal diff < -1_xGD       False
HGoal diff < -1_xGF90     False
HGoal diff < -1_xGA90     False
HGoal diff < -1_timeF     False
                          ...
L2LY_Ashots               False
L2LY_Ashotstrgt           False
L2LY_AxG                  False
L2LY_Axpts                False
L2LY_Dchance              False
L2LY_Hchance              False
L2LY_Hdeep                False
L2LY_Hgoals               False
L2LY_Hppda                False
L2LY_Hshots               False
L2LY_Hshotstrgt           False
L2LY_HxG                  False
L2LY_Hxpts                False
LY_Achance_y              False
LY_Adeep_y                False
LY_Agoals_y               False
LY_Appda_y                False
LY_Ashots_y               False
LY_Ashotstrgt_y           False
LY_AxG_y                  False
LY_Axpts_y                False
LY_Dchance_y              False
LY_Hchance_y              False
LY_Hdeep_y                False
LY_Hgoals_y               False
LY_Hppda_y                False
LY_Hshots_y               False
LY_Hshotstrgt_y           False
LY_HxG_y                  False
LY_Hxpts_y                False
Length: 540, dtype: bool

In [26]:
finaldf.to_csv('CompleteFinalTrainingDataSet.csv')