# Soccer Analytics -  Predicting Soccer Match Results to Improve Chances of Winning Bets

In [1]:
import numpy as np
import pandas as pd

#### 1. Merge each season individual Team metrics into a single dataset for analysis

In [6]:
def merge_data(name):
    path ='C:\\Documents\\SoccerDataset\\Teamwise_Metrics\\'
    finaldf=pd.DataFrame()
    season=[2014,2015,2016,2017,2018]
    for i in season:
        filename=name+str(i)+'.csv'
        a =filename.find('_')
        df_attackspeed= pd.read_csv(path+filename)
        print("Season:",filename[a+1:a+5],df_attackspeed.shape)
        df_attackspeed['season']=filename[a+1:a+5]
        finaldf=pd.concat([finaldf,df_attackspeed])
    finaldf.to_csv(path+name+'_final.csv')
    
    print(finaldf.shape)

In [7]:
merge_data('attackspeed_')

Season: 2014 (80, 16)
Season: 2015 (80, 16)
Season: 2016 (80, 16)
Season: 2017 (80, 16)
Season: 2018 (80, 16)
(400, 16)

In [8]:
merge_data('situation_')

Season: 2014 (100, 15)
Season: 2015 (100, 15)
Season: 2016 (100, 15)
Season: 2017 (100, 15)
Season: 2018 (100, 15)
(500, 15)

In [10]:
merge_data('gamestate_')

Season: 2014 (100, 17)
Season: 2015 (100, 17)
Season: 2016 (100, 17)
Season: 2017 (100, 17)
Season: 2018 (99, 17)
(499, 17)

In [ ]:
merge_data('formation_')

In [11]:
merge_data('timing_')

Season: 2014 (120, 14)
Season: 2015 (120, 14)
Season: 2016 (120, 14)
Season: 2017 (120, 14)
Season: 2018 (120, 14)
(600, 14)

In [12]:
merge_data('shotzones_')

Season: 2014 (80, 15)
Season: 2015 (80, 15)
Season: 2016 (80, 15)
Season: 2017 (80, 15)
Season: 2018 (78, 15)
(398, 15)

In [ ]:
merge_data('result_')

#### 2. The Scraped scoreboard information was at match level. Here we summarize all the fields present in the scoreboard dataset at season and team level

In [14]:
path ='C:\\Documents\\SoccerDataset\\'

In [15]:
df_team = pd.read_csv(path+'team_scoreboard_seasonwise.csv')

In [16]:
df_team.shape

(3520, 22)

In [17]:
df_team.columns

Index(['id', 'season', 'team', 'h_a', 'xG', 'xGA', 'npxG', 'npxGA', 'ppda',
       'ppda_allowed', 'deep', 'deep_allowed', 'scored', 'missed', 'xpts',
       'result', 'date', 'wins', 'draws', 'loses', 'pts', 'npxGD'],
      dtype='object')

In [18]:
df_team.shape

(3520, 22)

In [19]:
team_final_df =pd.DataFrame(df_team.groupby(['season','team','h_a','id']).sum()).reset_index()
g = pd.DataFrame(df_team.groupby(['season','team','h_a'])['id'].count()).reset_index()
g.rename(columns={"id":"matches"},inplace=True)
final = pd.merge(team_final_df,g,on=['season','team','h_a'])
final['teamid']=final.apply(lambda x : x['team'].replace(' ','_'),axis=1)
final=final[['season', 'id','teamid','team', 'h_a', 'matches',  'wins', 'draws', 'loses','scored', 'missed','deep','deep_allowed', 
       'pts','xG','npxG', 'xGA', 'npxGD',  'npxGA',  'xpts']]

In [20]:
final.columns

Index(['season', 'id', 'teamid', 'team', 'h_a', 'matches', 'wins', 'draws',
       'loses', 'scored', 'missed', 'deep', 'deep_allowed', 'pts', 'xG',
       'npxG', 'xGA', 'npxGD', 'npxGA', 'xpts'],
      dtype='object')

In [21]:
final.to_csv(path+'teamscorebrd_summ.csv')

In [22]:
final.shape

(200, 20)

#### 3. Inserting ID's into Team Metric and Player Performance datasets; will be easier for identification of records and join

In [23]:
ids=pd.DataFrame(final.groupby(['id','team']).size()).reset_index()

In [24]:
ids.rename(columns={0:'count'},inplace=True)

In [42]:
ids

     id                     team  count                   teamid
0    71              Aston Villa      4              Aston_Villa
1    72                  Everton     10                  Everton
2    73              Bournemouth      8              Bournemouth
3    74              Southampton     10              Southampton
4    75                Leicester     10                Leicester
5    76     West Bromwich Albion      8     West_Bromwich_Albion
6    77               Sunderland      6               Sunderland
7    78           Crystal Palace     10           Crystal_Palace
8    79                  Norwich      2                  Norwich
9    80                  Chelsea     10                  Chelsea
10   81                 West Ham     10                 West_Ham
11   82                Tottenham     10                Tottenham
12   83                  Arsenal     10                  Arsenal
13   84                  Swansea      8                  Swansea
14   85                    Stoke      8                    Stoke
15   86         Newcastle United      8         Newcastle_United
16   87                Liverpool     10                Liverpool
17   88          Manchester City     10          Manchester_City
18   89        Manchester United     10        Manchester_United
19   90                  Watford      8                  Watford
20   91                     Hull      4                     Hull
21   92                  Burnley      8                  Burnley
22   93            Middlesbrough      2            Middlesbrough
23  202      Queens Park Rangers      2      Queens_Park_Rangers
24  219             Huddersfield      4             Huddersfield
25  220                 Brighton      4                 Brighton
26  227                  Cardiff      2                  Cardiff
27  228                   Fulham      2                   Fulham
28  229  Wolverhampton Wanderers      2  Wolverhampton_Wanderers

In [26]:
#path ='C:\\Documents\\SoccerDataset\\Player Data\\'
playerdata=pd.read_csv(path+'player_performance_seasonwise.csv')

In [27]:
teamname=[]
teamid=list(ids.id.unique())
teamname=list(ids['team'].unique())
playerteamid=[]
for i in range(0,playerdata.shape[0]):
    for j in range(0,len(teamid)):
        if (playerdata['team_title'][i]==teamname[j]):
            playerteamid.append(teamid[j])
            break
        if (j==28):
            playerteamid.append(' ')
playerdata['team_id']=playerteamid
playerdata = playerdata[['id', 'season', 'player_name','team_id','team_title','games', 'time', 'goals', 'xG',
       'assists', 'xA', 'shots', 'key_passes', 'yellow_cards', 'red_cards',
       'position',  'npg', 'npxG', 'xGChain', 'xGBuildup']]
playerdata.to_csv('C:\\Documents\\SoccerDataset\\EDA_Dataset\\playerdata_summ.csv')

In [28]:
len(teamid)

29

In [29]:
playerteamid=[]
for i in range(0,playerdata.shape[0]):
    for j in range(0,len(teamid)):
        if (playerdata['team_title'][i]==teamname[j]):
            playerteamid.append(teamid[j])
            break
        if (j==28):
            playerteamid.append(' ')

In [30]:
playerdata['team_id']=playerteamid

In [31]:
len(playerteamid)

4227

In [33]:
def get_teamid(df,file):
    teamname=[]
    teamid=list(ids.id.unique())
    teamname=list(ids['teamid'].unique())
    playerteamid=[]
    for i in range(0,df.shape[0]):
        for j in range(0,len(teamid)):
            if (df['team'][i]==teamname[j]):
                playerteamid.append(teamid[j])
                break
            if (j==28):
                playerteamid.append(' ')
    df['team_id']=playerteamid
    df.to_csv('C:\\Documents\\SoccerDataset\\EDA_Dataset\\'+file)

In [34]:
get_teamid(df_result,'result__final.csv')
get_teamid(df_shotzones,'shotzones__final.csv')
get_teamid(df_timing,'timing__final.csv')
get_teamid(df_gamestate,'gamestate__final.csv')
get_teamid(df_formation,'formation__final.csv')
get_teamid(df_situation,'situation__final.csv')
get_teamid(df_attackspeed,'attackspeed__final.csv')

In [35]:
df_result

,Unnamed: 0,Unnamed: 0.1,description,goalsA,goalsF,index,result,season,shotsA,shotsF,team,xGA,xGA/Sh,xGD,xGF,xGF/Sh,team_id
0,0,0,Aston Villa xG stats for the 2014/2015 season,0.0,0,BlockedShot,BlockedShot,2014,142.0,105,Aston_Villa,8.001862,0.056351,-2.310036,5.691826,0.054208,71
1,1,1,Aston Villa xG stats for the 2014/2015 season,57.0,31,Goal,Goal,2014,57.0,31,Aston_Villa,18.774121,0.329371,-12.696147,6.077973,0.196064,71
2,2,2,Aston Villa xG stats for the 2014/2015 season,0.0,0,MissedShots,MissedShots,2014,159.0,183,Aston_Villa,10.600322,0.066669,1.766608,12.366930,0.067579,71
3,3,3,Aston Villa xG stats for the 2014/2015 season,0.0,0,SavedShot,SavedShot,2014,112.0,93,Aston_Villa,12.722259,0.113592,-3.945346,8.776913,0.094375,71
4,4,4,Aston Villa xG stats for the 2014/2015 season,0.0,0,ShotOnPost,ShotOnPost,2014,11.0,5,Aston_Villa,1.466639,0.133331,-1.186053,0.280586,0.056117,71
5,5,0,Everton xG stats for the 2014/2015 season,0.0,0,BlockedShot,BlockedShot,2014,176.0,141,Everton,9.068478,0.051525,-0.885438,8.183040,0.058036,72
6,6,1,Everton xG stats for the 2014/2015 season,50.0,48,Goal,Goal,2014,50.0,48,Everton,17.777890,0.355558,-0.969111,16.808780,0.350183,72
7,7,2,Everton xG stats for the 2014/2015 season,0.0,0,MissedShots,MissedShots,2014,193.0,173,Everton,14.668382,0.076002,-3.528221,11.140161,0.064394,72
8,8,3,Everton xG stats for the 2014/2015 season,0.0,0,SavedShot,SavedShot,2014,80.0,116,Everton,6.212380,0.077655,3.079921,9.292301,0.080106,72
9,9,4,Everton xG stats for the 2014/2015 season,0.0,0,ShotOnPost,ShotOnPost,2014,6.0,7,Everton,0.838604,0.139767,0.828472,1.667077,0.238154,72
10,10,0,Southampton xG stats for the 2014/2015 season,0.0,0,BlockedShot,BlockedShot,2014,98.0,129,Southampton,5.081451,0.051852,3.669456,8.750907,0.067836,74
11,11,1,Southampton xG stats for the 2014/2015 season,33.0,54,Goal,Goal,2014,33.0,54,Southampton,9.896878,0.299905,10.402578,20.299456,0.375916,74
12,12,2,Southampton xG stats for the 2014/2015 season,0.0,0,MissedShots,MissedShots,2014,170.0,208,Southampton,13.796048,0.081153,3.713946,17.509995,0.084183,74
13,13,3,Southampton xG stats for the 2014/2015 season,0.0,0,SavedShot,SavedShot,2014,77.0,113,Southampton,9.767528,0.126851,2.615554,12.383082,0.109585,74
14,14,4,Southampton xG stats for the 2014/2015 season,0.0,0,ShotOnPost,ShotOnPost,2014,7.0,11,Southampton,1.033693,0.147670,0.854651,1.888345,0.171668,74
15,15,0,Leicester xG stats for the 2014/2015 season,0.0,0,BlockedShot,BlockedShot,2014,169.0,115,Leicester,8.832277,0.052262,-1.836661,6.995616,0.060831,75
16,16,1,Leicester xG stats for the 2014/2015 season,55.0,46,Goal,Goal,2014,55.0,46,Leicester,22.320529,0.405828,-7.163180,15.157349,0.329508,75
17,17,2,Leicester xG stats for the 2014/2015 season,0.0,0,MissedShots,MissedShots,2014,208.0,200,Leicester,17.929216,0.086198,-1.413054,16.516162,0.082581,75
18,18,3,Leicester xG stats for the 2014/2015 season,0.0,0,SavedShot,SavedShot,2014,123.0,89,Leicester,12.363403,0.100515,-2.685102,9.678301,0.108745,75
19,19,4,Leicester xG stats for the 2014/2015 season,0.0,0,ShotOnPost,ShotOnPost,2014,8.0,8,Leicester,1.363431,0.170429,-0.151428,1.212003,0.151500,75
20,20,0,West Bromwich Albion xG stats for the 2014/201...,0.0,0,BlockedShot,BlockedShot,2014,163.0,109,West_Bromwich_Albion,9.603801,0.058919,-3.544309,6.059492,0.055592,76
21,21,1,West Bromwich Albion xG stats for the 2014/201...,51.0,38,Goal,Goal,2014,51.0,38,West_Bromwich_Albion,16.796704,0.329347,-4.598711,12.197993,0.321000,76
22,22,2,West Bromwich Albion xG stats for the 2014/201...,0.0,0,MissedShots,MissedShots,2014,190.0,163,West_Bromwich_Albion,12.626852,0.066457,-1.106675,11.520178,0.070676,76
23,23,3,West Bromwich Albion xG stats for the 2014/201...,0.0,0,SavedShot,SavedShot,2014,131.0,93,West_Bromwich_Albion,13.321804,0.101693,-5.311939,8.009864,0.086128,76
24,24,4,West Bromwich Albion xG stats for the 2014/201...,0.0,0,ShotOnPost,ShotOnPost,2014,12.0,9,West_Bromwich_Albion,2.104818,0.175401,0.344990,2.449808,0.272201,76
25,25,0,Sunderland xG stats for the 2014/2015 season,0.0,0,BlockedShot,BlockedShot,2014,178.0,124,Sunderland,9.208491,0.051733,-3.028674,6.179817,0.049837,77
26,26,1,Sunderland xG stats for the 2014/2015 season,53.0,31,Goal,Goal,2014,53.0,31,Sunderland,21.289002,0.401679,-8.466496,12.822506,0.413629,77
27,27,2,Sunderland xG stats for the 2014/2015 season,0.0,0,MissedShots,MissedShots,2014,248.0,152,Sunderland,13.975531,0.056353,-2.257516,11.718016,0.077092,77
28,28,3,Sunderland xG stats for the 2014/2015 season,0.0,0,SavedShot,SavedShot,2014,142.0,97,Sunderland,11.537023,0.081247,-4.294070,7.242953,0.074670,77
29,29,4,Sunderland xG stats for the 2014/2015 season,0.0,0,ShotOnPost,ShotOnPost,2014,10.0,5,Sunderland,0.569789,0.056979,0.090230,0.660019,0.132004,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,70,BlockedShot,Burnley xG stats for the 2018/2019 season,0.0,0,NaN,BlockedShot,2018,152.0,62,Burnley,10.465469,0.068852,-7.250535,3.214934,0.051854,92
471,71,Goal,Burnley xG stats for the 2018/2019 season,46.0,26,NaN,Goal,2018,46.0,26,Burnley,12.144872,0.264019,-1.026315,11.118557,0.427637,92
472,72,MissedShots,Burnley xG stats for the 2018/2019 season,0.0,0,NaN,MissedShots,2018,148.0,97,Burnley,10.796984,0.072953,-2.123458,8.673526,0.089418,92
473,73,SavedShot,Burnley xG stats for the 2018/2019 season,0.0,0,NaN,SavedShot,2018,96.0,51,Burnley,12.475722,0.129955,-5.014011,7.461711,0.146308,92
474,74,ShotOnPost,Burnley xG stats for the 2018/2019 season,0.0,0,NaN,ShotOnPost,2018,8.0,3,Burnley,1.689859,0.211232,-0.725461,0.964398,0.321466,92
475,75,BlockedShot,Huddersfield xG stats for the 2018/2019 season,0.0,0,NaN,BlockedShot,2018,80.0,77,Huddersfield,5.221762,0.065272,-1.701545,3.520216,0.045717,219
476,76,Goal,Huddersfield xG stats for the 2018/2019 season,46.0,13,NaN,Goal,2018,46.0,13,Huddersfield,15.908429,0.345835,-12.606959,3.301470,0.253959,219
477,77,MissedShots,Huddersfield xG stats for the 2018/2019 season,0.0,0,NaN,MissedShots,2018,117.0,110,Huddersfield,10.088939,0.086230,-3.819728,6.269212,0.056993,219
478,78,SavedShot,Huddersfield xG stats for the 2018/2019 season,0.0,0,NaN,SavedShot,2018,71.0,66,Huddersfield,9.874111,0.139072,-5.466047,4.408064,0.066789,219
479,79,ShotOnPost,Huddersfield xG stats for the 2018/2019 season,0.0,0,NaN,ShotOnPost,2018,2.0,6,Huddersfield,0.601905,0.300953,-0.196009,0.405896,0.067649,219
480,80,BlockedShot,Brighton xG stats for the 2018/2019 season,0.0,0,NaN,BlockedShot,2018,110.0,56,Brighton,7.313537,0.066487,-4.007272,3.306265,0.059040,220
481,81,Goal,Brighton xG stats for the 2018/2019 season,36.0,27,NaN,Goal,2018,36.0,27,Brighton,14.220402,0.395011,-3.770868,10.449534,0.387020,220
482,82,MissedShots,Brighton xG stats for the 2018/2019 season,0.0,0,NaN,MissedShots,2018,152.0,110,Brighton,12.552495,0.082582,-5.468807,7.083688,0.064397,220
483,83,SavedShot,Brighton xG stats for the 2018/2019 season,0.0,0,NaN,SavedShot,2018,76.0,50,Brighton,6.953471,0.091493,-0.874710,6.078761,0.121575,220
484,84,ShotOnPost,Brighton xG stats for the 2018/2019 season,0.0,0,NaN,ShotOnPost,2018,10.0,3,Brighton,0.527092,0.052709,0.121408,0.648500,0.216167,220
485,85,BlockedShot,Cardiff xG stats for the 2018/2019 season,0.0,0,NaN,BlockedShot,2018,109.0,83,Cardiff,8.347173,0.076580,-2.447743,5.899429,0.071077,227
486,86,Goal,Cardiff xG stats for the 2018/2019 season,46.0,22,NaN,Goal,2018,46.0,22,Cardiff,12.726029,0.276653,-4.931670,7.794359,0.354289,227
487,87,MissedShots,Cardiff xG stats for the 2018/2019 season,0.0,0,NaN,MissedShots,2018,115.0,119,Cardiff,8.165515,0.071004,-0.883336,7.282179,0.061195,227
488,88,SavedShot,Cardiff xG stats for the 2018/2019 season,0.0,0,NaN,SavedShot,2018,88.0,47,Cardiff,12.114323,0.137663,-5.896474,6.217849,0.132295,227
489,89,ShotOnPost,Cardiff xG stats for the 2018/2019 season,0.0,0,NaN,ShotOnPost,2018,5.0,5,Cardiff,0.948069,0.189614,-0.581587,0.366481,0.073296,227
490,90,BlockedShot,Fulham xG stats for the 2018/2019 season,0.0,0,NaN,BlockedShot,2018,97.0,76,Fulham,6.040358,0.062272,-2.286948,3.753410,0.049387,228
491,91,Goal,Fulham xG stats for the 2018/2019 season,55.0,25,NaN,Goal,2018,55.0,25,Fulham,20.871035,0.379473,-12.321939,8.549096,0.341964,228
492,92,MissedShots,Fulham xG stats for the 2018/2019 season,0.0,0,NaN,MissedShots,2018,125.0,129,Fulham,9.687019,0.077496,-1.639852,8.047166,0.062381,228
493,93,SavedShot,Fulham xG stats for the 2018/2019 season,0.0,0,NaN,SavedShot,2018,94.0,74,Fulham,12.131572,0.129059,-4.544160,7.587412,0.102533,228
494,94,ShotOnPost,Fulham xG stats for the 2018/2019 season,0.0,0,NaN,ShotOnPost,2018,7.0,8,Fulham,2.481655,0.354522,-1.335926,1.145729,0.143216,228
495,95,BlockedShot,Wolverhampton Wanderers xG stats for the 2018/...,0.0,0,NaN,BlockedShot,2018,100.0,77,Wolverhampton_Wanderers,5.383625,0.053836,-1.059695,4.323930,0.056155,229
496,96,Goal,Wolverhampton Wanderers xG stats for the 2018/...,32.0,33,NaN,Goal,2018,32.0,33,Wolverhampton_Wanderers,10.909857,0.340933,1.561415,12.471272,0.377917,229
497,97,MissedShots,Wolverhampton Wanderers xG stats for the 2018/...,0.0,0,NaN,MissedShots,2018,102.0,126,Wolverhampton_Wanderers,4.274354,0.041905,3.582512,7.856866,0.062356,229
498,98,SavedShot,Wolverhampton Wanderers xG stats for the 2018/...,0.0,0,NaN,SavedShot,2018,74.0,76,Wolverhampton_Wanderers,7.697419,0.104019,0.814432,8.511851,0.111998,229
499,99,ShotOnPost,Wolverhampton Wanderers xG stats for the 2018/...,0.0,0,NaN,ShotOnPost,2018,7.0,6,Wolverhampton_Wanderers,1.392007,0.198858,-1.002802,0.389205,0.064868,229

In [36]:
final

,season,id,teamid,team,h_a,matches,wins,draws,loses,scored,missed,deep,deep_allowed,pts,xG,npxG,xGA,npxGD,npxGA,xpts
0,2014,83,Arsenal,Arsenal,a,19,10,4,5,30,22,166,93,34,29.267701,26.223024,20.091949,6.892248,19.330776,32.4731
1,2014,83,Arsenal,Arsenal,h,19,12,5,2,41,14,232,78,41,40.534890,38.251380,15.626876,24.146804,14.104576,42.7009
2,2014,71,Aston_Villa,Aston Villa,a,19,5,2,12,13,32,85,113,17,14.202126,14.202126,27.909755,-12.185289,26.387415,17.2619
3,2014,71,Aston_Villa,Aston Villa,h,19,5,6,8,18,25,99,124,21,18.900545,18.139375,21.796501,-2.134789,20.274164,23.6298
4,2014,92,Burnley,Burnley,a,19,3,5,11,14,32,107,149,14,18.796987,18.035818,33.069350,-12.750024,30.785842,17.0794
5,2014,92,Burnley,Burnley,h,19,4,7,8,14,21,111,109,19,20.575662,19.053322,24.819506,-4.243849,23.297171,22.7165
6,2014,80,Chelsea,Chelsea,a,19,11,5,3,37,23,187,105,38,28.911835,28.911835,19.090902,11.343272,17.568563,32.4742
7,2014,80,Chelsea,Chelsea,h,19,15,4,0,36,9,220,66,49,39.731485,35.828567,12.433442,24.156295,11.672272,42.8430
8,2014,78,Crystal_Palace,Crystal Palace,a,19,7,6,6,26,24,76,155,27,20.274114,16.331510,25.677562,-6.965500,23.297010,21.1489
9,2014,78,Crystal_Palace,Crystal Palace,h,19,6,3,10,21,27,104,103,21,24.482569,23.721399,19.806803,6.198105,17.523294,29.4081
10,2014,72,Everton,Everton,a,19,5,4,10,21,29,100,137,19,18.632791,16.349291,25.765581,-7.893955,24.243246,20.3287
11,2014,72,Everton,Everton,h,19,7,7,5,27,21,159,108,28,26.255394,23.210794,20.416492,4.316640,18.894154,30.5818
12,2014,91,Hull,Hull,a,19,3,6,10,14,27,63,157,15,13.890794,13.890794,26.395317,-10.969583,24.860377,15.9773
13,2014,91,Hull,Hull,h,19,5,5,9,19,24,76,104,20,18.900239,18.139104,20.597640,-1.697369,19.836473,25.3440
14,2014,75,Leicester,Leicester,a,19,4,3,12,18,33,80,146,15,18.314472,18.314472,35.765577,-14.406424,32.720896,13.6406
15,2014,75,Leicester,Leicester,h,19,7,5,7,28,22,111,141,26,29.891929,26.847249,20.626539,6.220710,20.626539,30.9994
16,2014,87,Liverpool,Liverpool,a,19,8,3,8,22,28,137,110,27,23.632815,22.110480,20.375835,1.734645,20.375835,28.1082
17,2014,87,Liverpool,Liverpool,h,19,10,5,4,30,20,169,91,35,28.064411,25.019730,17.873886,9.566165,15.453565,33.0591
18,2014,88,Manchester_City,Manchester City,a,19,10,4,5,39,24,243,78,34,31.753231,30.230921,24.105794,6.886262,23.344659,32.0208
19,2014,88,Manchester_City,Manchester City,h,19,14,3,2,44,14,332,66,45,44.062210,39.378170,16.393609,25.268067,14.110103,41.0774
20,2014,89,Manchester_United,Manchester United,a,19,6,8,5,21,22,123,106,26,22.472064,20.949725,22.452168,0.019897,20.929828,26.2757
21,2014,89,Manchester_United,Manchester United,h,19,14,2,3,41,15,144,88,44,31.734796,29.451288,17.390179,13.583414,15.867874,36.7570
22,2014,86,Newcastle_United,Newcastle United,a,19,3,4,12,14,36,70,128,13,14.910233,14.149098,29.548419,-12.354721,26.503819,16.3199
23,2014,86,Newcastle_United,Newcastle United,h,19,7,5,7,26,27,105,111,26,25.311153,25.311153,21.465856,3.845297,21.465856,29.3106
24,2014,202,Queens_Park_Rangers,Queens Park Rangers,a,19,2,1,16,19,49,60,140,7,16.388022,14.865717,38.616487,-20.706090,35.571807,12.3777
25,2014,202,Queens_Park_Rangers,Queens Park Rangers,h,19,6,5,8,23,24,119,158,23,29.338069,27.041949,26.646071,0.395878,26.646071,27.8996
26,2014,74,Southampton,Southampton,a,19,7,2,10,17,20,130,105,23,20.264465,18.742130,24.629685,-4.365213,23.107343,22.8716
27,2014,74,Southampton,Southampton,h,19,11,4,4,37,13,140,78,37,34.701202,33.940042,14.483835,19.456207,14.483835,39.9450
28,2014,85,Stoke,Stoke,a,19,5,6,8,16,23,90,126,21,16.027092,14.504750,23.522773,-8.256853,22.761603,21.4986
29,2014,85,Stoke,Stoke,h,19,10,3,6,32,22,105,113,33,30.233505,29.472334,23.507889,9.009055,20.463279,30.4729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,2018,80,Chelsea,Chelsea,a,12,7,1,4,19,14,110,51,22,20.340711,18.057205,13.388625,4.668580,13.388625,22.0961
171,2018,80,Chelsea,Chelsea,h,12,7,4,1,21,9,99,53,25,19.870502,19.109332,9.781892,9.327440,9.781892,23.9519
172,2018,78,Crystal_Palace,Crystal Palace,a,13,4,2,7,18,22,68,94,14,13.723289,10.678604,18.656207,-6.455260,17.133864,14.4841
173,2018,78,Crystal_Palace,Crystal Palace,h,11,2,3,6,6,11,79,49,9,13.967259,12.444958,13.881783,0.085515,12.359443,15.1328
174,2018,72,Everton,Everton,a,12,3,3,6,15,17,55,71,12,13.064495,11.542193,19.324647,-6.152484,17.694677,12.0420
175,2018,72,Everton,Everton,h,12,6,3,3,20,16,76,50,21,20.708821,19.186593,15.367294,4.580472,14.606121,20.1740
176,2018,228,Fulham,Fulham,a,12,0,2,10,8,30,44,118,2,10.085282,9.324117,28.523454,-16.915937,26.240054,6.6255
177,2018,228,Fulham,Fulham,h,12,4,3,5,17,23,62,84,15,17.165407,16.404240,16.999581,0.165819,16.238421,16.4284
178,2018,219,Huddersfield,Huddersfield,a,11,1,3,7,8,21,47,58,6,8.093243,8.093243,17.116385,-8.261975,16.355218,10.1573
179,2018,219,Huddersfield,Huddersfield,h,13,1,2,10,5,20,38,66,5,8.503725,8.503725,19.834907,-9.047672,17.551397,9.5426
180,2018,75,Leicester,Leicester,a,13,5,3,5,17,18,65,96,18,15.290849,13.007356,17.295935,-2.766239,15.773595,17.4107
181,2018,75,Leicester,Leicester,h,11,4,2,5,13,12,55,70,14,13.839352,12.317011,11.471629,1.606549,10.710462,16.4179
182,2018,87,Liverpool,Liverpool,a,12,9,2,1,23,7,118,59,29,22.425889,20.903549,10.499011,10.404538,10.499011,24.9762
183,2018,87,Liverpool,Liverpool,h,12,10,2,0,32,7,150,39,32,28.902459,26.618949,8.878469,18.501649,8.117300,28.2604
184,2018,88,Manchester_City,Manchester City,a,12,7,2,3,23,9,147,48,23,23.833628,23.072459,9.218648,14.614979,8.457480,26.2837
185,2018,88,Manchester_City,Manchester City,h,12,11,0,1,40,10,201,37,33,34.379080,33.617920,9.911172,25.990258,7.627662,28.4386
186,2018,89,Manchester_United,Manchester United,a,12,6,2,4,23,19,79,99,20,20.158120,17.113444,18.314533,0.321246,16.792198,17.4528
187,2018,89,Manchester_United,Manchester United,h,12,7,4,1,25,16,104,65,25,24.943210,21.790900,15.570306,7.742931,14.047969,22.1014
188,2018,86,Newcastle_United,Newcastle United,a,11,2,5,4,9,14,32,99,11,9.841185,9.080015,18.057845,-8.216660,17.296675,9.6326
189,2018,86,Newcastle_United,Newcastle United,h,13,4,1,8,12,18,64,99,13,12.756549,11.995381,20.044407,-6.526696,18.522077,12.4676
190,2018,74,Southampton,Southampton,a,12,3,2,7,12,22,57,114,11,16.488704,13.444027,19.133696,-5.689669,19.133696,13.8564
191,2018,74,Southampton,Southampton,h,12,2,6,4,14,19,61,91,12,13.336959,12.575789,18.032934,-4.695975,17.271764,13.9574
192,2018,82,Tottenham,Tottenham,a,13,11,0,2,30,13,60,58,33,21.406269,19.122802,13.661369,7.744941,11.377861,23.9046
193,2018,82,Tottenham,Tottenham,h,11,7,0,4,20,11,108,67,21,19.651508,19.651508,14.888396,4.763112,14.888396,18.3621
194,2018,90,Watford,Watford,a,12,4,4,4,17,16,91,74,16,19.417702,18.656532,16.681867,3.497003,15.159529,18.5917
195,2018,90,Watford,Watford,h,12,5,2,5,16,18,83,71,17,14.825732,14.825732,16.866557,-0.518485,15.344217,15.0042
196,2018,81,West_Ham,West Ham,a,12,4,2,6,13,19,76,78,14,13.524476,13.524476,21.033530,-7.509054,21.033530,12.7371
197,2018,81,West_Ham,West Ham,h,12,5,2,5,17,18,83,70,17,14.744571,13.983480,17.212595,-1.706775,15.690255,14.4166
198,2018,229,Wolverhampton_Wanderers,Wolverhampton Wanderers,a,11,4,3,4,11,13,51,85,15,12.668202,12.668202,10.977927,2.451435,10.216767,17.7849
199,2018,229,Wolverhampton_Wanderers,Wolverhampton Wanderers,h,13,6,2,5,19,18,65,73,20,18.914809,17.392471,13.923215,4.230426,13.162045,20.5081

#### 4. Creation of team dimension table for EDA and dashboard creation in Qlik

In [37]:
report=pd.DataFrame(final.groupby(['season','id','team']).size()).reset_index()

In [38]:
report.drop(columns=[0],inplace=True)

In [39]:
report['identifier']=report.season.map(str)+report.id.map(str)

In [40]:
report

    season   id                     team identifier
0     2014   71              Aston Villa     201471
1     2014   72                  Everton     201472
2     2014   74              Southampton     201474
3     2014   75                Leicester     201475
4     2014   76     West Bromwich Albion     201476
5     2014   77               Sunderland     201477
6     2014   78           Crystal Palace     201478
7     2014   80                  Chelsea     201480
8     2014   81                 West Ham     201481
9     2014   82                Tottenham     201482
10    2014   83                  Arsenal     201483
11    2014   84                  Swansea     201484
12    2014   85                    Stoke     201485
13    2014   86         Newcastle United     201486
14    2014   87                Liverpool     201487
15    2014   88          Manchester City     201488
16    2014   89        Manchester United     201489
17    2014   91                     Hull     201491
18    2014   92                  Burnley     201492
19    2014  202      Queens Park Rangers    2014202
20    2015   71              Aston Villa     201571
21    2015   72                  Everton     201572
22    2015   73              Bournemouth     201573
23    2015   74              Southampton     201574
24    2015   75                Leicester     201575
25    2015   76     West Bromwich Albion     201576
26    2015   77               Sunderland     201577
27    2015   78           Crystal Palace     201578
28    2015   79                  Norwich     201579
29    2015   80                  Chelsea     201580
..     ...  ...                      ...        ...
70    2017   84                  Swansea     201784
71    2017   85                    Stoke     201785
72    2017   86         Newcastle United     201786
73    2017   87                Liverpool     201787
74    2017   88          Manchester City     201788
75    2017   89        Manchester United     201789
76    2017   90                  Watford     201790
77    2017   92                  Burnley     201792
78    2017  219             Huddersfield    2017219
79    2017  220                 Brighton    2017220
80    2018   72                  Everton     201872
81    2018   73              Bournemouth     201873
82    2018   74              Southampton     201874
83    2018   75                Leicester     201875
84    2018   78           Crystal Palace     201878
85    2018   80                  Chelsea     201880
86    2018   81                 West Ham     201881
87    2018   82                Tottenham     201882
88    2018   83                  Arsenal     201883
89    2018   86         Newcastle United     201886
90    2018   87                Liverpool     201887
91    2018   88          Manchester City     201888
92    2018   89        Manchester United     201889
93    2018   90                  Watford     201890
94    2018   92                  Burnley     201892
95    2018  219             Huddersfield    2018219
96    2018  220                 Brighton    2018220
97    2018  227                  Cardiff    2018227
98    2018  228                   Fulham    2018228
99    2018  229  Wolverhampton Wanderers    2018229

[100 rows x 4 columns]

In [41]:
report.to_csv('C:\\Documents\\SoccerDataset\\EDA_Dataset\\teamdimension.csv')

#### 5. Appending TeamID's in the match stats dataset

In [43]:
ids

     id                     team  count                   teamid
0    71              Aston Villa      4              Aston_Villa
1    72                  Everton     10                  Everton
2    73              Bournemouth      8              Bournemouth
3    74              Southampton     10              Southampton
4    75                Leicester     10                Leicester
5    76     West Bromwich Albion      8     West_Bromwich_Albion
6    77               Sunderland      6               Sunderland
7    78           Crystal Palace     10           Crystal_Palace
8    79                  Norwich      2                  Norwich
9    80                  Chelsea     10                  Chelsea
10   81                 West Ham     10                 West_Ham
11   82                Tottenham     10                Tottenham
12   83                  Arsenal     10                  Arsenal
13   84                  Swansea      8                  Swansea
14   85                    Stoke      8                    Stoke
15   86         Newcastle United      8         Newcastle_United
16   87                Liverpool     10                Liverpool
17   88          Manchester City     10          Manchester_City
18   89        Manchester United     10        Manchester_United
19   90                  Watford      8                  Watford
20   91                     Hull      4                     Hull
21   92                  Burnley      8                  Burnley
22   93            Middlesbrough      2            Middlesbrough
23  202      Queens Park Rangers      2      Queens_Park_Rangers
24  219             Huddersfield      4             Huddersfield
25  220                 Brighton      4                 Brighton
26  227                  Cardiff      2                  Cardiff
27  228                   Fulham      2                   Fulham
28  229  Wolverhampton Wanderers      2  Wolverhampton_Wanderers

In [44]:
path = 'C:\\Documents\\SoccerDataset\\EDA_Dataset\\'
match_df=pd.read_csv(path+'team_match_stats.csv')

In [47]:
match_df.drop(columns={'Unnamed: 0','Unnamed: 0.1'},inplace=True)

In [56]:
teamname=[]
teamid=list(ids.id.unique())
teamname=list(ids['team'].unique())
matchhometeamid=[]
matchawayteamid=[]
for i in range(0,match_df.shape[0]):
    for j in range(0,len(teamid)):
        if (match_df['Hteam'][i]==teamname[j]):
            matchhometeamid.append(teamid[j])
        if (match_df['Ateam'][i]==teamname[j]):
            matchawayteamid.append(teamid[j])
        if (j==28):
            playerteamid.append(' ')
match_df['Hteam_id']=matchhometeamid
match_df['Ateam_id']=matchawayteamid

In [57]:
match_df.columns

Index(['Hteam', 'Hchance', 'Hgoals', 'HxG', 'Hshots', 'Hshotstrgt', 'Hdeep',
       'Hppda', 'Hxpts', 'Ateam', 'Achance', 'Agoals', 'AxG', 'Ashots',
       'Ashotstrgt', 'Adeep', 'Appda', 'Axpts', 'Dchance', 'FTR', 'Season',
       'League', 'Description', 'MatchDate', 'Hteam_id', 'Ateam_id'],
      dtype='object')

In [58]:
matchdata = match_df[['Season',
       'League', 'Description', 'MatchDate', 'Hteam_id', 'Hteam', 'Hchance', 'Hgoals', 'HxG', 'Hshots', 'Hshotstrgt', 'Hdeep',
       'Hppda', 'Hxpts', 'Ateam','Ateam_id', 'Achance', 'Agoals', 'AxG', 'Ashots',
       'Ashotstrgt', 'Adeep', 'Appda', 'Axpts', 'Dchance', 'FTR']]
matchdata.to_csv('C:\\Documents\\SoccerDataset\\EDA_Dataset\\team_match_stats_v2.csv')

In [59]:
matchdata.head()

,Season,League,Description,MatchDate,Hteam_id,Hteam,Hchance,Hgoals,HxG,Hshots,...,Achance,Agoals,AxG,Ashots,Ashotstrgt,Adeep,Appda,Axpts,Dchance,FTR
0,2014/2015,EPL,West Bromwich Albion 3 - 0 Chelsea (May 18 2015),May 18 2015),76,West Bromwich Albion,40%,3,1.23,9,...,28%,0,1.08,12,3,7,12.32,1.15,32%,West Bromwich Albion
1,2014/2015,EPL,Arsenal 0 - 0 Sunderland (May 20 2015),May 20 2015),83,Arsenal,39%,0,1.69,28,...,35%,0,1.50,7,3,6,27.82,1.30,26%,Draw
2,2014/2015,EPL,Aston Villa 0 - 1 Burnley (May 24 2015),May 24 2015),71,Aston Villa,28%,0,0.65,16,...,31%,1,0.66,6,3,6,19.64,1.33,41%,Burnley
3,2014/2015,EPL,Chelsea 3 - 1 Sunderland (May 24 2015),May 24 2015),80,Chelsea,66%,3,2.53,24,...,NaN,1,1.39,17,9,1,19.93,0.62,20%,Chelsea
4,2014/2015,EPL,Crystal Palace 1 - 0 Swansea (May 24 2015),May 24 2015),78,Crystal Palace,68%,1,1.08,13,...,NaN,0,0.12,5,2,1,9.17,0.38,29%,Crystal Palace

In [63]:
matchdata.isna().any()

Season         False
League         False
Description    False
MatchDate      False
Hteam_id       False
Hteam          False
Hchance         True
Hgoals         False
HxG            False
Hshots         False
Hshotstrgt     False
Hdeep          False
Hppda          False
Hxpts          False
Ateam          False
Ateam_id       False
Achance         True
Agoals         False
AxG            False
Ashots         False
Ashotstrgt     False
Adeep          False
Appda          False
Axpts          False
Dchance         True
FTR            False
dtype: bool